.info{
    text-align: center;
}
.banner{
    margin: auto;
    background-color: grey;
    height: 100px;
    width: 500px;
}

.banner h1{
    text-align: center;
}

.banner button{
    position: relative;
}

.board{
    border: 2px solid black;
    width: 400px;
    height: 350px;
    margin: auto;
}

td > div{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50px;
}